.base
{
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url('moonterrain.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-animation: backgroundScroll 5s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 15s linear infinite;
  animation-fill-mode: forwards;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -180px 0px;}
}

.glow {
  font-size: 70px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.earth
{
  top: 150px;
  left: 600px;
  position: absolute;
}

.base, .bicycling
{
  background-blend-mode: overlay;
}

.bicycling
{
  width: 100px;
  height: 200px;
  position: absolute;
  display: flex;
  top: 325px;
  left: 0px;
  opacity: 0.9;
  perspective: 100px;
  background-blend-mode: darken;
  -webkit-animation: bicycle 12s linear infinite;
}

@-webkit-keyframes bicycle
{
 from {margin-left: 0px;}
 to {margin-left: 1300px;}
}
